<br /><br /><br /><br />
<div class="container">
  <h1>About Travel.io</h1>
  <div class="row">
  <div class="col-md-12 col-md-push-">
  <script src="https://www.eventbriteapi.com/"> </script>
   <p>Travel.io gives you opportiunity to search for events, food & shopping near by you.</p>
   <h4>Our Story</h4>
   <h5>Hotel Wifi web app</h5>
<p>You connect to your hotel’s wifi and on first browser request, you get redirected to travel.io.</p>
<p>The web app, displays events in the area, there is a chatroom for other  travelers, you can order stuff from the hotel directly from the web app, there hotel guest specific promotions from local businesses, etc. </p>
<p>Maybe you will find someone with similar tastes in the chatroom and you can hang out together in this unknown city?</p>
<h5>Summary<h5>
<ul>
<li>Events in the area</li>
<li>chatroom for other lonely and bored travelers</li>
<li>order stuff from the hotel directly from the web app</li>
</ul></p>
</div>
</div>
</div>


  