<br /><br />
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-push-0">
<div class="one-half">
    <div class="heading_bg"><h2>Contact Us:</h2></div>
      <p><strong> Travelio:</strong><br />
      Irvine<br /><br />
      Tel: (+1) 510 449 7694<br />
      mail: mail@travel.io
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13280.240700570343!2d-117.820368!3d33.681506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdc2d9d98f105%3A0x70aa819874b607c4!2s25+Alexandria%2C+Irvine%2C+CA+92614!5e0!3m2!1sen!2sus!4v1415770205419"width="465" height="350" frameborder="2" style="border:2"></iframe>
      <br />
      <small><a href="https://www.google.com/maps/place/25+Alexandria,+Irvine,+CA+92614/@33.68137,-117.8203389,1138m/data=!3m1!1e3!4m2!3m1!1s0x80dcdc2d9d98f105:0x70aa819874b607c4">Enlarge-Map</a></small>
	</div>
</div>
      <div class="col-md-6 col-md-push-0">
<div class="one-half last">
<br /><br /><br /><br /><br /><br /><br /><br />
     <div class="heading_bg"><h2>Send Email</h2></div>
   <form action="#" class="TTWForm" method="post" novalidate="">
      
    <div id="field1-container" class="field f_50">
         <label for="field1">Name</label>
         <input name="name" id="field1" required="required" type="text">
    </div>
    
    <div id="field2-container" class="field f_50">
         <label for="field2">Telephone</label>
         <input name="tel" id="field2" required="required" type="text">
    </div>
    
    <div id="field5-container" class="field f_50">
         <label for="field5">Email</label>
         <input name="email" id="field5" required="required" type="email">
    </div>
    
    <div id="field4-container" class="field f_100">
         <label for="field4">Message</label>
         <textarea rows="5" cols="20" name="message" id="field4" required="required"></textarea>
    </div>

    <div id="form-submit" class="field f_100 clearfix submit">
         <input value="Submit" type="submit">
    </div>
 </form>
 </div>
 </div>
<!--END form ID contact_form -->

</div>
</div>




