<script type="text/javascript" src="https://www.eventbriteapi.com/v3/events/10584525601/"> 
</script>

<script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 12
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  $.get('/api/groups').then(function(data) {
    for(var i=0; i < data.length; i++){
      var url = "https://www.eventbriteapi.com/v3/events/10584525601/" + encodeURIComponent(data[i].location)
      console.log(url)
      $.get(url).then((function(i) {
        return function(data2) {
      


<!-- Search Button -->

<div id="search_form" class="row">
  <div class="large-12 columns">
    <div class="row collapse">
    <form>
    <div class="large-8 small-9 columns">
      <input id="address" type="text" placeholder="Find Groups">
    </div>
    <div class="large-4 small-3 columns">
      <button id="search" class=" postfix alert button">Search Location</button>
  </div>
  </form>
</div>
</div>
</div>

<!-- Map Canvas Area -->
<div  id="map-canvas">
</div>